{{!-- Divider Footer --}}
<div class="Divider">
  <span class="Divider-red"></span>
  <span class="Divider-blue"></span>
  <span class="Divider-green"></span>
  <span class="Divider-yellow"></span>
</div>
{{!-- Footer --}}
<footer class="Footer">
  <div class="u-wrappers">
    <div class="Footer-colLeft">
      <h3 class="Footer-title">Gracias por Visitar</h3>
      <p>Manténgase al día en las redes Sociales</p>
      <aside class="Footer-social">
        <a href="https://www.facebook.com/godofredo.ninja" target="_blank" class="Footer-socialLink u-social icon-facebook"></a>
        <a href="https://twitter.com/GodoFredoNinja" target="_blank" class="Footer-socialLink u-social icon-twitter"></a>
        <a href="https://www.youtube.com/channel/UCvG7YDFE69L6XCyfyUOlq4A" target="_blank" class="Footer-socialLink u-social icon-youtube"></a>
        <a href="https://plus.google.com/u/0/b/115249403776168648016/" target="_blank" class="Footer-socialLink u-social icon-google"></a>
        <a href="https://github.com/godofredoninja" target="_blank" class="Footer-socialLink u-social icon-github"></a>
      </aside>
    </div>
    <div class="Footer-colRight">
      <p class="Footer-copy" >
        <a href="http://godofredo.ninja">© GodoFredo.ninja</a>  | <span>Alojando en</span>
      </p>
      <a href="https://www.digitalocean.com/?refcode=710a27a3b3de" target="_blank" class="Footer-ads">
        <img src="{{asset "img/digitalocean.png"}}" alt="Digital Ocean" class="Footer-digital">
      </a>
    </div>
  </div>
</footer>
