<footer class="Footer">
  <div class="u-wrappers">
    <div class="Divider">
      <span class="Divider-red"></span>
      <span class="Divider-blue"></span>
      <span class="Divider-green"></span>
      <span class="Divider-yellow"></span>
    </div>
    <div class="Footer-content">
      <div class="Footer-des">
        <p class="Footer-copy" >
          <a href="http://godofredo.ninja">© GodoFredo.ninja</a>  | <span>Alojando en</span>
        </p>
        <a href="#" class="Footer-ads">
          <img src="http://digital.com" alt="Digital Ocean" class="Footer-ads">
        </a>
      </div>
    </div>
  </div>
</footer>
