<header class="Header">

  <h1 class="Header-logo">
    <a href="{{@blog.url}}" class="eader-link">
      {{#if @blog.logo}}
        <figure class="Header-imageContent">
          <img src="{{@blog.logo}}" alt="Diseño web GodoFredo" class="Header-image u-avatarAnimation">
        </figure>
      {{/if}}
      {{@blog.title}}
    </a>
    <div class="Header-des">
      Frontet . Backend
    </div>
  </h1>

  <div class="Header-search">
    <input type="text">
     <button class="icon-search"></button>
  </div>

  <nav class="MainMenu">
    <a href="#" class="MainMenu-link">Sobre Mi</a>
    <a href="#" class="MainMenu-link">Servicios</a>
    <a href="#" class="MainMenu-link">Contacto</a>
  </nav>

  <aside class="Header-social">
    <a href="/hola" target="_bank" class="u-social icon-facebook"></a>
    <a href="#" target="_bank" class="u-social icon-twitter"></a>
    <a href="#" target="_bank" class="u-social icon-github"></a>
    <a href="#" target="_bank" class="u-social icon-youtube"></a>
    <a href="#" target="_bank" class="u-social icon-google"></a>
  </aside>

</header>
<div class="Divider Header-divider">
  <span class="Divider-red"></span>
  <span class="Divider-blue"></span>
  <span class="Divider-green"></span>
  <span class="Divider-yellow"></span>
</div>
