<div class="Divider">
  <span class="Divider-red"></span>
  <span class="Divider-blue"></span>
  <span class="Divider-green"></span>
  <span class="Divider-yellow"></span>
</div>
<aside class="AsideTop">
  <div class="u-wrappers">
    <ul class="AsideTop-social">
      <li class="AsideTop-socialItems t"><a href="https://twitter.com/GodoFredoNinja" class="twitter-follow-button">Follow @GodoFredoNinja</a></li>
      <li class="AsideTop-socialItems y"><div class="g-ytsubscribe" data-channel="godito100" data-layout="default" data-count="undefined"></div></li>
      <li class="AsideTop-socialItems f"><div data-href="https://www.facebook.com/godofredo.ninja" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" class="fb-like"></div></li>
    </ul>
    <form class="AsideTop-search">
      <input class="AsideTop-input" id="search" type="text" placeholder="Buscar..." />
      <button type="submit" class="AsideTop-button icon-search"></button>
      <div id="search-results"></div>
    </form>
  </div>
</aside>

<header class="Header">
  <div class="u-wrappers">
    {{#if @blog.logo}}
      <h1 class="Header-logo">
        <a href="/" target="" class="Header-logoLink">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="Header-logoImagen">
        </a>
      </h1>
    {{/if}}

    <label for="MainMenu-callback" class="Header-iconMobile icon-menu"></label>
    <input type="checkbox" id="MainMenu-callback" class="MainMenu-callback u-inputNone">

    <nav class="MainMenu"><ul class="MainMenu-list">
      <li class="MainMenu-item">
        <a href="http://godofredo.ninja" class="MainMenu-link"><i class="icon-home"></i><span>Home</span></a>
      </li>
      <li class="MainMenu-item">
        <a href="http://godofredo.ninja/godofredo" class="MainMenu-link"><i class="icon-user"></i><span>Sobre Mi</span></a>
      </li>
      <li class="MainMenu-item">
        <a href="http://godofredo.ninja/servicios" class="MainMenu-link"><i class="icon-services"></i><span>Servicios</span></a>
      </li>
      <li class="MainMenu-item">
        <a href="http://godofredo.ninja/procesos" class="MainMenu-link"><i class="icon-process"></i><span>Procesos</span></a>
      </li>
      <li class="MainMenu-item">
        <a href="http://godofredo.ninja/portafolio" class="MainMenu-link"><i class="icon-porfolio"></i><span>Portafolio</span></a>
      </li>
      <li class="MainMenu-item">
        <a href="{{@blog.url}}" class="MainMenu-link active"><i class="icon-blog"></i><span>Blog</span></a>
      </li>
      <li class="MainMenu-item">
        <a href="http://godofredo.ninja/contacto" class="MainMenu-link"><i class="icon-message"></i><span>Contact</span></a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="Homeblog">
  <div class="u-wrappers">
    <a class="Homeblog-link icon-home" href="{{@blog.url}}">Home Blog</a>
  </div>
</div>



