{{!-- pagination  --}}
<div class="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">Anterior</a>
    {{/if}}
    <span class="page-number">Página {{page}} de {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Siguiente</a>
    {{/if}}
</div>
