{{!-- Sidebar Right --}}
<div class="Sidebar">
  <!-- BlogNinja Aside-Sidebar-Top -->
  <aside class="Sidebar-items Ads Ads-sidebarTop">
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-3462564966072994"
       data-ad-slot="7911725262">
   </ins>
   <script>
   (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
  </aside>
  {{!-- Add Facebook Like-box --}}
  <aside class="Sidebar-items u-border Sidebar-social ">
    <h3 class="Sidebar-title icon-facebook"> Sígueme en Facebook</h3>
    <div class="Sidebar-content">
      <div class="fb-like-box" data-href="https://www.facebook.com/godofredo.ninja" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
    </div>
  </aside>
  {{!-- Add Twitter widget --}}
  <aside class="Sidebar-items u-border Sidebar-social ">
    <h3 class="Sidebar-title icon-twitter">Sígueme en Twitter</h3>
    <div class="Sidebar-content">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/GodoFredoNinja" data-widget-id="247666431938920449">Tweets por el @GodoFredoNinja.</a>
    </div>
  </aside>
</div>
