@media screen and (min-width:1024px)

  //ADS
  .Ads
    &-Responsive
      display none
  .Footer
    padding-bottom 1.5em


  // Sidebar
  .Sidebar
    width 35%
    padding 0
    display inline-block
    vertical-align top
    &-items
      float none !important
      width 100%
      margin 0 auto 1em auto !important
      height auto

  // wrapper
  .wrapper
    overflow hidden
    &-colRight
      float left
      width 65%
      padding 0 1em 2em 0
      display inline-block
      vertical-align top
    &-colLeft
      float left
      width 300px
    .u-wrappers
      overflow hidden

  .AsideTop-search
    width 400px

  // Share
  .Share
    margin 0 auto
    text-align left
    &-items
      font-weight bold
      height 30px
      padding 2px 10px 0 0
      text-align center
      width 120px
      &:before
        font-size 1.2em
        position relative
        top 4px
    .icon-whatsapp
      display none
    .hidden
      display inline
    &-title
      padding-left 0
      padding-right 0
