@media screen and (min-width:1024px)

  // Sidebar
  .Sidebar
    width 35%
    padding 0
    display inline-block
    vertical-align top
    &-items
      float none !important
      width 100%
      margin 0 auto 1em auto !important
      height auto

  // wrapper
  .wrapper
    overflow hidden
    &-colRight
      float left
      width 65%
      padding 0 1em 2em 0
      display inline-block
      vertical-align top
    &-colLeft
      float left
      width 300px
    .u-wrappers
      overflow hidden

  .AsideTop-search
    width 400px
