@media screen and (min-width:1200px)

  .u-wrappers
    padding 0 !important
    max-width 1170px

  .wrapper
    &-colRight
      width 70%

  .Sidebar
    width 30%
  .Post
    padding 0 0 1em 0
    &-items
      width 33%
