// Autor post main
.AuthorPost
  padding-top 1.5em
  &-imageContent
    width 100px
    margin 0 auto
    border-radius 50%
  &-avatar
    border-radius 50%
    border 5px solid #fff
    box-shadow 1px 5px 1px rgba(204, 204, 204, 0.8)
  &-name
    font-size 1.5em
    text-transform capitalize
    font-style italic
    color  ColorBlue
  p
    font-style italic
    font-size 1.1em

// Aside Top
.AsideTop
  background #051928
  padding 1em 0 .6em 0
  &-social
    display none
  &-search
    position relative
  &-input
    box-shadow none !important
    height 40px !important
    padding 5px 40px 5px 15px !important
    margin 0 auto !important
    &:focus
      box-shadow none
  &-button
    position absolute
    right 0
    top 0
    width 50px
    margin 0
    height 40px
    padding 0
    background transparent
    color #afafaf
    &:hover
      background transparent
  .searchResults
    padding 0.2em 1em
    p
      display none
    a
      color #000
      text-align left
      &:hover
        color ColorCoral
  #search-results
    background #fff
    position relative
    top 5px
    border-radius 5px


//Content - Post
.Content
  padding-bottom 2em
  &-title
    color #525252
    font-weight 800
    line-height 1.2
    margin 0
    padding 0
    padding-top .4em
    text-align left
  &-header
    text-align left
    &-imageContent
      margin 0 -2em 0 -2em

// Comments
.Comments
  margin-top 3em
  &-title
    color #525252
    float left
    font-size 1.5em
    padding 0 0 1em 0

// Home Link Blog
.Homeblog
  text-align left
  padding 1em 0
  &-link
    color #777
    font-weight bold
    &:before
      margin-right 6px

// Header
.Header
  background #fff
  left 0
  position relative
  right 0
  top 0
  z-index 100
  &-logo
    font-size 1em
    margin 0
    padding-bottom .2em
    position relative
  &-logoLink
    box-sizing border-box
    padding .7em 0 0 .5em
    width 200px
  &-logoImagen
    transition all 0.5s ease-in-out
  &-iconMobile
    background ColorCoral
    border 1px solid #fff
    border-radius 50%
    box-shadow  0px 1px 2px rgba(0, 0, 0, 0.2)
    color #fff
    cursor pointer
    height 50px
    line-height 60px
    position absolute
    right .5em
    top .5em
    width 50px
    z-index 9999
    &:before
      font-size 1.6em
  .u-wrappers
    padding 0

// Menu
.MainMenu
  backface-visibility hidden
  background #fff
  box-shadow  1px -5px 1px rgba(204,204,204,0.8)
  box-sizing border-box
  height 0
  overflow hidden
  position relative
  right 0
  transition height 0.5s ease-out 0s
  width 100%
  z-index 100

  &-callback
    &:checked
      & ~ .MainMenu
        height 100px
  &-list
    overflow-x scroll
    padding-bottom 10px
    padding-top 10px
    white-space nowrap
    width 100%
  &-item
    color #696969
    display inline-block
    font-size 15px
    opacity .9
    padding 0 5px 0 5px
    position relative
    width 75px
  &-link
    box-sizing border-box
    color blue
    display block
    font-weight bold
    height 90px
    position relative

    span
      color #696969
      opacity .9
      position relative

    i
      color ColorCoral
      display block
      font-size 1.5em
      line-height 40px
      &:before
        font-size 1.6em

    .icon-home
      color #444
    .icon-user
      color ColorGreen
    .icon-services
      color ColorCoral
    .icon-proces
      color ColorOrange
    .icon-porfolio
      color ColorBlue
    .icon-blog
      color #945DA5
    .icon-message
      color #748089


// Main Post Content
.Main
  font-size 1.2em
  line-height 160%
  padding-top .8em
  text-align left
  &-tags
    font-size .8em
    font-weight bold
    padding-top 1.5em
    text-transform uppercase

  img
    display block
    margin 1.8em auto 0 auto

  h2
    font-size 1.5em
  h3
    font-size 1.3em
  h4
    font-size 1.2em
  h5
    font-size 1em

  h2
  h3
  h4
  h5
    padding 1em 0
    line-height 1.2
    color #525252
    &:before
      margin-right 5px
      color #f04f53
      content "#"

  blockquote
  ul
  li
  ol
    &:before
        font-family: 'icomoon';
        speak none
        font-style normal
        font-weight normal
        font-variant normal
        text-transform none
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
  a
    border-bottom .08em solid rgba(0,0,0,.1)
    color #1378ae
    display inline
    font-weight bold
    padding-bottom .2em
    &:hover
      border-bottom .08em solid ColorBlue

  ul
    padding 1em 0
    li
      &:before
        content "\e611"
        font-family iconitos
        color ColorCoral
        margin-right 5px
      ul
        padding .4em 0
        li
          margin-left 20px
          &:before
            background ColorBlue
            border-radius 50%
            color ColorBlue
            font-size .5em
            position relative
            bottom 2px



// Divider
.Divider
  position relative
  height 6px
  span
    float left
    height 6px
    width 25%
  &-red
    background ColorCoral
  &-blue
    background ColorBlue
  &-green
    background ColorGreen
  &-yellow
    background #f2ee69


// Footer
.Footer
  background #051928
  position relative
  color #fff
  padding 1.5em 0px 0.5em
  &-title
    font-size 1.5em
    text-transform uppercase
  &-socialLink
    margin-right 5px
  &-colRight
    padding 1em 0
    font-weight bold
    a
      display inline
      color #777777
    span
      color #0a8ccc
  &-digital
    max-width 130px




//landing
.Landing
  position relative
  background url('../img/bg-Body.jpg')
  overflow hidden


// Post Home
.Post
  padding 0 0 1em 0
  &-items
    margin-bottom 1.5em
  &-main
    text-align left
  &-date
    color #9d9d9d
    font-size .8em
    font-style italic
    font-weight bold
    text-transform uppercase
    &:before
      margin-right 3px
      font-size 1.2em
  &-title
    font-size 1.2em
  &-titlelink
    color #484848
    line-height 1
    margin-bottom .5em
    margin-top .5em
  &-excerpt
    color #656565
  &-autorImage
    width 50px
    border-radius 50%
  &-footer
    position relative
    padding .5em 0
    overflow hidden
  &-autorLink
    color #1378ae
    font-weight bold
    left 60px
    position absolute
    text-transform capitalize
    top 7px
  &-tag
    font-style italic
    left 60px
    position absolute
    top 30px
    white-space nowrap
    width 100%
    &:before
      font-size .9em
      color #656565
    a
      display inline
      color #656565
      &:hover
        color ColorBlue
  &-tagEnd
    background linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1))
    content " "
    height 20px
    position absolute
    right 50px
    width 50px

// Pagination
.pagination
  padding 1em 0 3em 0
.page-number
.older-posts
.newer-posts
  background #1378ae
  border-bottom 4px solid #0d6596
  border-radius 5px
  color #fff
  display inline-block
  font-weight bold
  padding .5em
  vertical-align top
  &:hover
    background #F04F53
    border-bottom 4px solid #B4181C




// Sidebar-right
.Sidebar
  padding-top 3em
  position relative
  &-items
    margin-bottom 1em
    padding 0 0 1em 0
  &-content
    padding 0 1em 0 1em
  &-title
    color #fff
    padding 5px 0

// Share
.Share
  padding-top 1em
  padding-bottom 1em
  margin 0 -2em 0 -2em
  text-align center
  &-title
    display block
    font-size 1.2em
    padding .8em 2em .8em 2em
    position relative
  &-items
    border-radius 3px
    color #fff
    display inline-block
    margin-right 1%
    height 36px
    padding 5px 0
    vertical-align top
    min-width 70px
    width 20%
    &:before
      font-size 1.5em
    &:last-of-type
      margin-right 0
  .hidden
    display none

