.Divider
  position relative
  span
    float left
    height 6px
    width 25%
  &-red
    background ColorCoral
  &-blue
    background ColorBlue
  &-green
    background ColorGreen
  &-yellow
    background #f2ee69

// Footer
.Footer
  background #fff
  position relative
  width 100%
  &-des
    padding 1em 0
    font-weight bold
  a
    display inline
    color #777777
  span
    color #0a8ccc




//landing
.Landing
  position relative
  background url('../img/bg-Body.jpg')
