@import 'nib'
@import 'nib/vendor'
@import 'nib/gradients'

@import 'normalize'
@import 'iconos'

@import 'mixin'

iconitos = 'icomoon'

fontBody = 'Lato', sans-serif

*
  margin 0
  padding 0
  box-sizing border-box

a
  text-decoration none
  display block
  color ColorBlue

body
  color #3e3f3a
  font-family fontBody
  font-size 1em
  font-weight 300
  line-height 1.5
  text-align center
  text-rendering optimizeLegibility

figure
header
section
footer
article
  display block
  margin 0
  padding 0

img
  max-width 100%
  width auto

p
  margin 0 0 10px

ul
  list-style-type none
  margin 0
  padding 0
div
  display block

textarea
input[type=text]
input[type=password]
input[type=search]
input[type=email]
input[type=url]
  border 0
  border-radius 5px
  box-sizing border-box
  height 40px
  line-height 1.2
  padding 5px 35px 5px 10px
  width 100%
  margin-bottom 20px
  background #333333
  color #fff

textarea
  height 100px
  padding-left 15px
  resize none

textarea
input[type=text]
input[type=password]
input[type=search]
input[type=email]
input[type=url]
  &:focus
    outline none
    border transparent
    background #111
    color #8b8b8b

input[type=reset]
input[type=submit]
button
.Btn
  border 0
  border-radius 5px
  color #8b8b8b
  font-weight bold
  margin-bottom 20px
  outline none
  padding 8px 20px
  text-transform uppercase
  width 100%
  height 40px



::selection
  background #fba919
  color #444
  text-shadow 1px 1px #fff

@import 'body'
@import 'keyframes'
