@import 'nib'
@import 'nib/vendor'
@import 'nib/gradients'

@import 'normalize'
@import 'iconos'

@import 'mixin'

iconitos = 'icomoon'

fontBody = 'Lato', sans-serif

*
  margin 0
  padding 0
  box-sizing border-box
  &:after
  &:before
    box-sizing border-box

a
  text-decoration none
  display block
  color ColorBlue

body
  color #3e3f3a
  font-family fontBody
  font-size 16px
  font-weight 300
  line-height 1.5
  text-align center
  text-rendering optimizeLegibility

figure
header
section
footer
article
  display block
  margin 0
  padding 0

img
  max-width 100%
  width auto

p
  margin 0 0 15px

ul
  list-style-type none
  margin 0
  padding 0
div
  display block

textarea
input[type=text]
input[type=password]
input[type=search]
input[type=email]
input[type=url]
  background #eee url('../img/bg-Body.jpg')
  border 0
  border-radius 10px
  box-sizing border-box
  font-size 1.2em
  height 50px
  line-height 1.2
  padding 5px 15px 5px 35px
  width 100%
  margin-bottom 20px
  box-shadow inset 2px 2px 0 rgba(187,187,187,.7)

textarea
  height 100px
  padding-left 15px
  resize none

textarea
input[type=text]
input[type=password]
input[type=search]
input[type=email]
input[type=url]
  &:focus
    box-shadow 0px 0px 0px 2px ColorCoral
    outline none
    border transparent

input[type=reset]
input[type=submit]
button
.Btn
  background ColorCoral
  border 0
  border-radius 10px
  color #fff
  font-size 1.3em
  font-weight bold
  margin-bottom 20px
  outline none
  padding 8px 20px
  text-transform uppercase
  width 100%

  &:hover
    background #b03a3d

// main
hr
  border none
  border-bottom 1px dashed #b7b7b7
  margin 2.5em auto
  padding 0

pre
  background #272822
  border-radius 5px
  color #fff
  font-family Consolas, Monaco, 'Andale Mono', monospace
  padding 1em 2em .8em 2em
  white-space white-space
  word-break normal
  word-spacing normal
  tab-size 4
  margin 1em -2em 1em -2em

  code
    font-size .8em
    line-height 1

p code
  background #272822
  color #a6e22e
  padding 2px 4px 2px 4px
  border-radius 5px

blockquote
  color #9d9d9d
  width 90%
  margin 0 auto
  font-style italic
  position relative
  padding 1.5em 0 1em 1em
  &:before
    position absolute
    left -1em
    font-size 1.5em
    content "\e60a"
    top .5em

ol
  list-style-type none
  margin 0
  margin-left 1em
  padding 1em 0
  counter-reset li-counter

  li
    position relative
    margin-bottom 20px
    padding-left 0.5em
    border-left 2px solid #CCCCCC

    &:before
      color ColorBlue
      content counter(li-counter)
      counter-increment li-counter
      font-family fontBody !important
      font-weight bold !important
      left -1.4em
      line-height 1
      position absolute
      text-align right
      top 0
      width 0.8em

::selection
  background #fba919
  color #444
  text-shadow 1px 1px #fff

@import 'body'
@import '768'
@import '1024'
@import '1200'
@import 'keyframes'
@import 'prism'
