// Colores
ColorRed    = #C71A2B
ColorOrange = #FBA919
ColorCobal  = #1d9b9e
ColorGreen  = #20c05c
ColorCoral  = #F04F53
ColorBlue   = #1378AE
ColorGre    = #9d9d9d


.u-social
  color #fff
  display inline-block
  vertical-align top
  font-size 1.5em
  border-radius 50%
  padding 8px
  line-height 1


.u-wrappers
  box-sizing border-box
  display block
  height 100%
  margin 0 auto
  max-width 1020px
  padding  0 1em
  position relative

// .CLear
.Content
.Sidebar
.u-wrappers
.AuthorPost
.Clear
.Comments
  &:before
  &:after
    content " "
    display table
    clear both

// input header none
.u-inputNone
  display none


.icon-facebook
  background #3b5998
.icon-twitter
  background #55acee
.icon-youtube
  background #e52d27
.icon-github
  background #727272
.icon-google
  background #dd4b39

// Border Color
.u-border
  background #fff
  border-bottom 4px solid #DDD
  border-radius .4em
  box-shadow 0px 0px 1px rgba(0, 0, 0, 0.24)
  box-sizing border-box
  padding 1em
  position relative

// Avatar Animation
.u-avatarAnimation
  &:hover
      animation-duration .75s
      animation-iteration-count 1
      animation-name buzz-out
      animation-timing-function linear


// Social Media Css

// Facebook Like Book Responsive
.fb_iframe_widget
.fb_iframe_widget span
.fb_iframe_widget span iframe[style]
  width 100% !important
// Facebook Like Auto
.AsideTop
  .fb_iframe_widget
  .fb_iframe_widget span
  .fb_iframe_widget span iframe[style]
    width auto !important
    float left

#fb-root
  display none

// Twitter Widget Responsive
#twitter-widget-12
#twitter-widget-0
#twitter-widget-1
  width 100% !important

// Post Facebook Css Center
.facebook-embed
  max-width 466px
  margin 1.5em auto

// CSS Twitter Post Page
.twitter-tweet
  max-width 478px !important
  margin 1.5em auto !important

// Youtube
.fluid-width-video-wrapper
  margin 1em auto




