<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{meta_title}}</title>

  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <!-- endinject -->

</head>
<body>

  <div class="Landing">



  </div>

  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
