{{#contentFor "meta_facebook"}}{{@blog.cover}}{{/contentFor}}
{{#contentFor "meta_twitter"}}{{@blog.cover}}{{/contentFor}}
{{!-- Add layout --}}
{{!< layout/default}}
<section class="wrapper">
    <div class="u-wrappers">
    {{! Add Loop }}
    {{> "loop"}}
  </div>
</section>
