
<header class="Header">

  <nav class="MainMenu">
    <a href="#" class="MainMenu-link">Sobre Mi</a>
    <a href="#" class="MainMenu-link">Servicios</a>
    <a href="#" class="MainMenu-link">Contacto</a>
  </nav>

  <aside class="Header-aside">
    <a href="#" class="Header-asideLink">Facebook</a>
    <a href="#" class="Header-asideLink">Facebook</a>
    <a href="#" class="Header-asideLink">Facebook</a>
    <a href="#" class="Header-asideLink">Facebook</a>
    <a href="#" class="Header-asideLink">Facebook</a>
  </aside>

</header>

