<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1">
  <title>{{meta_title}}</title>

  <link href='//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- endinject -->

</head>
<body>

  <div class="Landing">
    {{> "header"}}
    {{{body}}}
    {{> "footer"}}
  </div>

  <!-- bower:js -->
  <script src="/assets/lib/jquery/dist/jquery.js"></script>
  <script src="/assets/lib/fitvids/jquery.fitvids.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="/assets/js/jquery.ghostHunter.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <!-- endinject -->

  <div id="fb-root"></div>


  <script src="https://platform.twitter.com/widgets.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <script id="facebook-jssdk" src="//connect.facebook.net/es_ES/sdk.js#xfbml=1&amp;version=v2.0"></script>

</body>
</html>

